@use 'variables'
  
*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif

h1,
h2
  font-family: 'Poppins', sans-serif
  color: variables.$cyan-900

button
  font-family: 'Open Sans', sans-serif
  color: variables.$light-blue-100
  background-color: variables.$pink-300
  border: none