@use 'global'
@use 'variables'
@use 'mixins'

header
  width: 100%

  .header-container
    padding: 4.875rem 3.875rem
    display: flex
    justify-content: space-between
    align-items: center

    a.btn
      width: 8.5rem
      height: 2.5rem
      border-radius: 1.25rem
      @include mixins.btn-outline
      @include mixins.flex-center

main
  .presentation
    @include mixins.container(variables.$desktop)
    @include mixins.flex-center
    flex-direction: column

    .title
      margin-top: 11.125rem
      font-size: 3.125rem
      text-align: center

    .description
      margin-top: 2rem
      max-width: 37.5rem
      text-align: center
      font-size: 1.25rem
      line-height: 2rem

    .btn
      margin-top: 3rem
      @include mixins.btn-large

    .banner
      margin-top: 7.5rem
      max-width: 64.375rem
      width: 100%

    .result-data
      margin-top: 8rem
      display: flex
      align-items: center
      gap: 21.75rem

      .item
        @include mixins.flex-center
        flex-direction: column

        img
          align-self: flex-start

        p
          font-size: 4.875rem
          font-weight: bold

        small
          font-size: 1.25rem
          color: variables.$cyan-900
          opacity: .8

  .wave
    margin-top: 130px

