*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #00252e;
}

.btn {
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
}

header {
  width: 100%;
}
header .header-container {
  padding: 4.875rem 3.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-container {
    padding: 2rem;
  }
}
@media (max-width: 1000px) {
  header .header-container .brand img {
    width: 6.875rem;
  }
}
header .header-container a.btn {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  color: #ff52bf;
  background-color: white;
  border: 1px solid #ff52bf;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container a.btn:hover {
  border-color: #ff8fd8;
  color: #ff8fd8;
}
@media (max-width: 1000px) {
  header .header-container a.btn {
    height: 1.5rem;
    width: 5rem;
    font-size: 0.625rem;
  }
}

main .presentation {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  main .presentation {
    max-width: 80%;
    margin: 0 auto;
  }
}
main .presentation .title {
  margin-top: 11.125rem;
  font-size: 3.125rem;
  text-align: center;
}
@media (max-width: 1000px) {
  main .presentation .title {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
}
main .presentation .description {
  margin-top: 2rem;
  max-width: 37.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;
}
@media (max-width: 1000px) {
  main .presentation .description {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
main .presentation .btn {
  margin-top: 3rem;
  color: white;
  background-color: #ff52bf;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 25rem;
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 37, 46, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-out;
}
main .presentation .btn:hover {
  background-color: #ff8fd8;
}
@media (max-width: 1000px) {
  main .presentation .btn {
    height: 3rem;
    font-size: 0.875rem;
    width: 12.5rem;
  }
}
main .presentation .banner {
  margin-top: 7.5rem;
  max-width: 64.375rem;
  width: 100%;
}
@media (max-width: 1000px) {
  main .presentation .banner {
    margin-top: 7rem;
  }
}
main .presentation .result-data {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 21.75rem;
}
@media (max-width: 1000px) {
  main .presentation .result-data {
    flex-direction: column;
    gap: 6rem;
  }
}
main .presentation .result-data .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .presentation .result-data .item img {
  align-self: flex-start;
}
@media (max-width: 1000px) {
  main .presentation .result-data .item img {
    width: 1.5rem;
  }
}
main .presentation .result-data .item p {
  font-size: 4.875rem;
  font-weight: bold;
}
@media (max-width: 1000px) {
  main .presentation .result-data .item p {
    font-size: 3.25rem;
  }
}
main .presentation .result-data .item small {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  color: #00252e;
  opacity: 0.8;
}
@media (max-width: 1000px) {
  main .presentation .result-data .item small {
    font-size: 0.875rem;
  }
}
main .wave {
  margin-top: 8.125rem;
}
@media (max-width: 1000px) {
  main .wave {
    margin-top: 5rem;
  }
}
main .wave .wave-wrapper .image-wave-top-1 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-top-desktop-1.svg") no-repeat;
  background-size: 100%;
  background-position: "bottom";
}
@media (max-width: 1000px) {
  main .wave .wave-wrapper .image-wave-top-1 {
    height: 27vw;
    width: 100%;
    background: url("../images/bg-section-top-mobile-1.svg") no-repeat;
    background-size: 100%;
    background-position: "bottom";
  }
}
main .wave .wave-wrapper .image-wave-bottom-1 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-bottom-desktop-1.svg") no-repeat;
  background-size: 100%;
  background-position: "top";
}
@media (max-width: 1000px) {
  main .wave .wave-wrapper .image-wave-bottom-1 {
    height: 27vw;
    width: 100%;
    background: url("../images/bg-section-bottom-mobile-1.svg") no-repeat;
    background-size: 100%;
    background-position: "top";
  }
}
main .wave .wave-wrapper .image-wave-top-2 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-top-desktop-2.svg") no-repeat;
  background-size: 100%;
  background-position: "bottom";
}
@media (max-width: 1000px) {
  main .wave .wave-wrapper .image-wave-top-2 {
    height: 27vw;
    width: 100%;
    background: url("../images/bg-section-top-mobile-2.svg") no-repeat;
    background-size: 100%;
    background-position: "bottom";
  }
}
main .wave .wave-wrapper .image-wave-bottom-2 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-bottom-desktop-2.svg") no-repeat;
  background-size: 100%;
  background-position: "top";
}
@media (max-width: 1000px) {
  main .wave .wave-wrapper .image-wave-bottom-2 {
    height: 27vw;
    width: 100%;
    background: url("../images/bg-section-bottom-mobile-2.svg") no-repeat;
    background-size: 100%;
    background-position: "top";
  }
}
main .wave .wave-wrapper .feature {
  background-color: #f5faff;
}
main .wave .wave-wrapper .feature .container {
  flex-direction: column-reverse;
}
main .wave .feature .container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 0;
}
@media (max-width: 1000px) {
  main .wave .feature .container {
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }
}
main .wave .feature .container .info {
  max-width: 32.5rem;
}
@media (max-width: 1000px) {
  main .wave .feature .container .info {
    margin-top: 4rem;
    text-align: center;
  }
}
main .wave .feature .container .info .title {
  font-size: 2.625rem;
}
@media (max-width: 1000px) {
  main .wave .feature .container .info .title {
    font-size: 1.5rem;
  }
}
main .wave .feature .container .info .description {
  margin-top: 1.875rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
}
@media (max-width: 1000px) {
  main .wave .feature .container .info .description {
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin-top: 1rem;
  }
}
main .wave .feature .container img {
  max-width: 32.5rem;
  width: 100%;
}
@media (max-width: 1000px) {
  main .wave .feature .container img {
    width: 90%;
  }
}
main .community {
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 8.75rem;
  text-align: center;
}
@media (max-width: 1000px) {
  main .community {
    margin-top: 5rem;
  }
}
main .community .title {
  font-size: 2.625rem;
}
@media (max-width: 1000px) {
  main .community .title {
    font-size: 1.5rem;
  }
}
main .community .btn {
  color: white;
  background-color: #ff52bf;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 25rem;
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 37, 46, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-out;
  margin: 2.625rem auto 0;
}
main .community .btn:hover {
  background-color: #ff8fd8;
}
@media (max-width: 1000px) {
  main .community .btn {
    height: 3rem;
    font-size: 0.875rem;
    width: 12.5rem;
  }
}

footer {
  margin-top: 10.625rem;
}
footer .bg-top {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-footer-top-desktop.svg") no-repeat;
  background-size: 100%;
  background-position: "bottom";
}
@media (max-width: 1000px) {
  footer .bg-top {
    height: 12vw;
    width: 100%;
    background: url("../images/bg-footer-top-mobile.svg") no-repeat;
    background-size: 100%;
    background-position: "bottom";
  }
}
footer .footer {
  padding: 6.25rem 0;
  background-color: #00252e;
}
@media (max-width: 1000px) {
  footer .footer {
    padding: 2rem 0;
  }
}
footer .footer-container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  footer .footer-container {
    flex-direction: column-reverse;
    max-width: 80%;
    margin: 0 auto;
  }
}
footer .footer-container .address {
  width: 100%;
}
@media (max-width: 1000px) {
  footer .footer-container .address {
    margin-top: 6rem;
  }
}
@media (max-width: 1000px) {
  footer .footer-container .address img {
    max-width: 12rem;
  }
}
footer .footer-container .address address {
  margin-top: 1.25rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  font-style: normal;
}
@media (max-width: 1000px) {
  footer .footer-container .address address {
    font-size: 0.875rem;
  }
}
footer .footer-container .address address p {
  color: white;
  max-width: 22.5rem;
  line-height: 1.5rem;
}
footer .footer-container .address address a {
  margin-top: 1.25rem;
  color: white;
}
@media (max-width: 1000px) {
  footer .footer-container .address address a {
    margin-top: 1rem;
  }
}
footer .footer-container .address address a img {
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  footer .footer-container .address address a:first-of-type {
    margin-top: 3rem;
  }
}
footer .footer-container .address .social {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}
@media (max-width: 1000px) {
  footer .footer-container .address .social {
    margin-top: 3rem;
    gap: 1rem;
  }
}
footer .footer-container .address .social .icon {
  color: white;
  font-size: 2.5rem;
}
@media (max-width: 1000px) {
  footer .footer-container .address .social .icon {
    font-size: 1.8rem;
  }
}
footer .footer-container .news-letter {
  width: fit-content;
  padding-left: 5rem;
}
@media (max-width: 1000px) {
  footer .footer-container .news-letter {
    padding-left: 0;
  }
}
footer .footer-container .news-letter h2 {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  footer .footer-container .news-letter h2 {
    font-size: 1.25rem;
  }
}
footer .footer-container .news-letter .description {
  font-size: 1rem;
  color: white;
  margin-top: 1.25rem;
  padding-right: 9.375rem;
  line-height: 1.5rem;
}
@media (max-width: 1000px) {
  footer .footer-container .news-letter .description {
    padding-right: 0;
    font-size: 0.875rem;
  }
}
footer .footer-container .news-letter .form {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  footer .footer-container .news-letter .form {
    flex-direction: column;
  }
}
footer .footer-container .news-letter .form input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
}
footer .footer-container .news-letter .form .subscribe {
  height: 3rem;
  background-color: #ff52bf;
  color: white;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
  width: 10rem;
}
@media (max-width: 1000px) {
  footer .footer-container .news-letter .form .subscribe {
    margin-left: 0;
    margin-top: 1rem;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
