*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #00252e;
}

.btn {
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
}

header {
  width: 100%;
}
header .header-container {
  padding: 4.875rem 3.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container a.btn {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  color: #ff52bf;
  background-color: white;
  border: 1px solid #ff52bf;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container a.btn:hover {
  border-color: #ff8fd8;
  color: #ff8fd8;
}

main .presentation {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .presentation .title {
  margin-top: 11.125rem;
  font-size: 3.125rem;
  text-align: center;
}
main .presentation .description {
  margin-top: 2rem;
  max-width: 37.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;
}
main .presentation .btn {
  margin-top: 3rem;
  color: white;
  background-color: #ff52bf;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 25rem;
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 37, 46, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-out;
}
main .presentation .btn:hover {
  background-color: #ff8fd8;
}
main .presentation .banner {
  margin-top: 7.5rem;
  max-width: 64.375rem;
  width: 100%;
}
main .presentation .result-data {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 21.75rem;
}
main .presentation .result-data .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .presentation .result-data .item img {
  align-self: flex-start;
}
main .presentation .result-data .item p {
  font-size: 4.875rem;
  font-weight: bold;
}
main .presentation .result-data .item small {
  font-size: 1.25rem;
  color: #00252e;
  opacity: 0.8;
}
main .wave {
  margin-top: 8.125rem;
}
main .wave .wave-wrapper .image-wave-top-1 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-top-desktop-1.svg") no-repeat;
  background-size: 100%;
  background-position: bottom;
}
main .wave .wave-wrapper .image-wave-bottom-1 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-bottom-desktop-1.svg") no-repeat;
  background-size: 100%;
  background-position: top;
}
main .wave .wave-wrapper .image-wave-top-2 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-top-desktop-2.svg") no-repeat;
  background-size: 100%;
  background-position: bottom;
}
main .wave .wave-wrapper .image-wave-bottom-2 {
  height: 12vw;
  width: 100%;
  background: url("../images/bg-section-bottom-desktop-2.svg") no-repeat;
  background-size: 100%;
  background-position: top;
}
main .wave .wave-wrapper .feature {
  background-color: #f5faff;
}
main .wave .feature .container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 0;
}
main .wave .feature .container .info {
  width: 32.5rem;
}
main .wave .feature .container .info .title {
  font-size: 2.625rem;
}
main .wave .feature .container .info .description {
  margin-top: 1.875rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
}
main .wave .feature .container img {
  max-width: 32.5rem;
}

/*# sourceMappingURL=style.css.map */
